
.Cockpit button {
    background-color: #a6ffcb;
    padding: 10px;
    font: San-serif;
    border: 3px solid green;
    border-radius: 200px;
    cursor: pointer;
    letter-spacing: 3px;
  }
  .Cockpit button:hover {
    background-color: lightgreen;
    color: blue;
  }

  .red {
    color: red;
  }
  
  .bold {
    font-weight: bold;
  }
  
  .Cockpit button.Red {
    background-color: #1fa2ff;
  }
  .Cockpit button.Red:hover {
    background-color: salmon;
    color: gray;
  }
  