.box
{
    background-color: rgb(212, 212, 212);
    border: 1px solid #eee;
    padding: 10%;
    margin: 10% auto;
    box-shadow: 0 3px 2px #ccc;
    width: 60%;
    text-align: center;
    border-radius: 30px;
    display: block;
}