.CounterOutput {
  width: 100%;
  background-color: #fa923f;
  color: white;
  font-size: 1.8rem;
  text-align: center;
  padding: 20px 0;
  box-sizing: border-box;
  text-shadow: 1px 1px 3px #4e7bf7, 1px 1px 5px #0000ff;
}
