.App {
  text-align: center;
}
/* Anything added to app.js renders globally*/
body
{
  background: rgb(106, 160, 172); 
  background-image: url('./Resources/luffy.gif');
  background-size:150%;
  background-position: center;
  background-repeat: no-repeat;
  
}